
ul{
  list-style: none;
}
h1 {
    text-align: center;
}

nav a {
    margin-left: 3rem;
    font-size: 1.5rem;
}
.createdList {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }

.filmTitle {
    font-size: 1.5em;
    color: #007BFF;
  }
  
  .filmEpisode,
  .filmDirector,
  .filmReleaseDate {
    display: block;
    margin-bottom: 5px;
  }
  
  .filmReleaseDate {
    font-weight: bold;
  }

  .filmImage{
    width: 250px;
    height: 200px;
  }